#chatArea {
    /* width: 100%; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* display: flex; */
    flex-grow: 1;
    background-color: khaki;
    /* flex-direction: column-reverse; */
    margin: 10px;
    border-radius: 20px;
    overflow-y: scroll;
    
    
  }
  
  #chatArea::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}